#is-login {
    display: none;
}

/* page-content */
.page-content {
    background-color: #fff;
    padding: 30px 0 50px 0;
}

.page-content .page-left .left-articles > div:first-child {
    padding-right: 0px;
}

.page-content .page-left .left-articles > div:first-child > ul:first-child {
    display: block;
    border-radius: 2px;
    border-bottom: 1px solid;
    height: 30px;
    margin-right: -10px;
    background-color: #222;
}

.page-content .page-left .left-articles li {
    float: left;
    padding: 5px;
}

.page-content .page-left .left-articles li > a {
    color: #afafaf;
}

.page-content .page-left .left-articles li > a:focus {
    color: #e9e9e9;
    text-decoration: none;
}

.page-content .page-banner #banner img {
    width: 780px;
}

.page-content .page-banner #banner + div > div img {
    width: 250px;
    height: 170px;
}

/*article-abstract*/
.left-articles ul.clear-class {
    padding: 0;
}

.left-articles ul.clear-class li {
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(32, 32, 32, 0.3);
}

.left-articles ul.clear-class li:last-child {
    border-bottom: none;
}

.article-abstract {
    height: 230px;
}

.article-abstract > div {
    float: left;
    height: 100%;
}

.article-abstract > div > article {
    height: 90%;
    position: relative;
}

.article-abstract > div > article a {
    text-decoration: none;
}

.article-abstract article > footer {
    float: bottom;
    position: absolute;
    bottom: 0;
    right: 0;
}

.article-abstract article > footer .post-desc {
    float: right;
}

.article-abstract article > footer a {
    padding-left: 5px;
}

.article-abstract article > footer i.fa {
    color: rgba(32, 32, 32, 0.5);
    font-size: 16px;
}

.article-abstract article > footer a:hover i.fa {
    color: rgba(32, 32, 32, 0.8);
}

.article-abstract > div.article-info {
    padding-left: 30px;
}

.article-abstract .left-img {
    padding: 15px 0px;
}

.article-abstract .left-img img {
    width: 250px;
    height: 170px;
}

/* pagination */
.pagination {
    width: 100%;
}

#pagination-digg {
    margin: 0 auto;
    height: 25px;
    width: 350px;
    text-align: center;
    padding: 0;
}

#pagination-digg li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none; /* savers */
    float: left;
}

#pagination-digg a {
    border: solid 1px #9aafe5;
    margin-right: 2px;
}

#pagination-digg .previous-off, #pagination-digg .next-off {
    border: solid 1px #DEDEDE;
    color: #888888;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 4px;
}

#pagination-digg .next a, #pagination-digg .previous a {
    font-weight: bold;
}

#pagination-digg .active {
    background: #2e6ab1;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px; /* savers */
    margin-right: 2px;
}

#pagination-digg a:link, #pagination-digg a:visited {
    color: #0e509e;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

#pagination-digg a:hover {
    border: solid 1px #0e509e;
}

/* nav */
#menu {
    border: none;
    margin-bottom: 0;
}

#menu .row {
    margin-bottom: 0;
}

#menu ul.nav li input {
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-indent: 4px;
}

#menu ul.nav li input + i {
    margin-right: 18px;
    padding: 7px;
    margin-left: -4px;
    background-color: #aaa;
}

#menu ul.nav li input + i:hover {
    cursor: pointer;
    background-color: #bbb;
}

#menu ul.nav li:hover {
    background-color: #bbbaba;
}
#menu ul.nav li[id='for-search']:hover,#menu ul.nav li[id='logo']:hover{
    background:none;
}
#menu ul.nav li>a {
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}

#menu ul.nav li>a:hover {
    background-color: #bbbaba;
}

#menu ul.nav li>a:focus, #menu ul.nav li>a:focus > i {
    color: #222;
}

#menu ul.nav li img {
    padding: 5px;
    padding-left: 0;
    margin-right: 70px;
}

/* footer */
footer {
    padding-top: 30px;
}

footer .contact-section h3 {
    color: #fff;
}

footer .contact-section input[type="text"], footer .contact-section textarea {
    border: none;
    padding: 17px 18px;
    width: 45%;
    margin: 0 24px 35px 0;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background: #353535;
    color: #efefef;
}

footer .contact-section textarea {
    resize: none;
    width: 97.8%;
    height: 15em;
    margin: 0;
}

footer .contact-section input[type="submit"] {
    background: #ff7b3d;
    border: none;
    outline: none;
    width: 30%;
    padding: 0.25em 0.8em;
    color: #efefef;
    margin: 30px 0 0 35%;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px dashed #ff7b3d;
}

footer .contact-section input[type="submit"]:hover {
    border: 1px dashed #353535;
}

footer .copyright {
    padding: 20px 0;
    text-align: center;
}

footer .copyright p {
    color: #efefef;
}

footer .copyright a {
    color: #fff;
}

footer .copyright a:hover {
    text-decoration: underline;
}

footer .copyright ul li {
    display: inline-block;
    margin-left: 10px;
}

/* 中等屏幕（桌面显示器，小于等于 992px） */
@media (max-width: 992px) {
    #menu ul.nav li img {
        padding: 5px;
        padding-left: 0;
        margin-right: 0;
    }

    #for-search {
        display: none;
    }

    .page-right {
        display: none;
    }

    .article-abstract {
        text-align: center;
    }

    footer .footer-left-img {
        display: none;
    }
}

/* 大屏幕（大桌面显示器，小于等于 1200px） */
@media (max-width: 1200px) {
    #menu ul.nav li img {
        padding: 5px;
        padding-left: 0;
        margin-right: 10px;
    }

    .article-abstract .left-img {
        padding: 0;
    }

    .article-abstract .left-img img {
    }

    .page-content .page-banner #banner img {
        width: 580px;
    }

    .page-content .page-banner #banner + div > div img {
        width: 185px;
        height: 120px;
    }

}
